APScheduler~=3.11.0
Flask==3.1.2
Flask-APScheduler==1.13.1
python-dotenv==1.2.1
gunicorn==23.0.0
requests-oauthlib==2.0.0
oauthlib~=3.3.1
requests==2.32.5
adafruit-circuitpython-neopixel==6.3.18; platform_system == "Linux" and (platform_machine == "armv7l" or platform_machine == "aarch64")
rpi_ws281x==5.0.0; platform_system == "Linux" and (platform_machine == "armv7l" or platform_machine == "aarch64")
PySide6==6.10.1; platform_system != "Linux" or (platform_machine != "armv7l" and platform_machine != "aarch64")
