APScheduler~=3.11.0
Flask==3.1.1
Flask-APScheduler==1.13.1
python-dotenv==1.1.0
gunicorn==23.0.0
requests-oauthlib==2.0.0
oauthlib~=3.2.2
requests==2.32.4
adafruit-circuitpython-neopixel==6.3.16
rpi_ws281x==5.0.0