[Unit]
Description=APIM Betriebs Board Monitor
After=network.target

[Service]
WorkingDirectory=/<replace-with-path-to>/apimon

User=root
Group=root

Restart=always

ExecStart=/<replace-with-path-to>/apimon/venv/bin/gunicorn -c /<replace-with-path-to>/apimon/etc/gunicorn_config.py apimon:app

ExecStop=/bin/kill -SIGINT $MAINPID

Type=simple

[Install]
WantedBy=multi-user.target

